// Site-color
$site-clr                   :#357CE1;
$site-clr-2                 :#EDEDED;
$site-clr-3                 :#C3C3C3;
$site-clr-4                 :#26C8DD;
$site-clr-5                 :#9099A0;
$site-clr-6                 :#454545;
$site-clr-7                 :#62ABFF;
$site-clr-8                 :#92999F;
$site-clr-9                 :#FA8C2B;
$site-clr-10                :#3A3E50;
$site-clr-11                :#1E212F;



// Site-main-default-font
$site-font-family-default   : 'Gilroy', sans-serif;