.header{
    background-color: #fff;
    max-width: 100%;
    padding: 10px 0;
    &-web{
        display: flex;
        align-items: center;
        @include BootstrapMaxWidthResponsive(sm){ 
           justify-content: space-between;
        }
        &-left{
            flex: 0 0 auto;
            width: 400px;            
            @include BootstrapMaxWidthResponsive(hd){ 
                width: 250px;
            }
        }
        &-center{
            flex : 1 0 0 ;
            width: 100%;
            max-width: 100%;
            @include BootstrapMaxWidthResponsive(sm){ 
                display: none;
            }
            .headerGroup{
                display: flex;
                justify-content: space-between;
                .headerNav{
                    .navbar{
                        .nav-item{
                            padding: 0 20px;
                            margin-right: 15px;
                            @include BootstrapMaxWidthResponsive(xl){ 
                                padding: 0 10px;
                            }
                        }
                    }
                }
                .headerSearch{
                    display: flex;
                    align-items: center;
                    position: relative;
                    @include BootstrapMaxWidthResponsive(md){
                        display: none;
                    }
                    form{
                        position: relative;
                        input{
                            width: 600px;
                            background-color: $site-clr-2;
                            border-radius: 15px;
                            padding: 3px 15px;
                            font-weight: bold;
                            @include BootstrapMaxWidthResponsive(hd){ 
                                width: 400px;
                            }
                            @include BootstrapMaxWidthResponsive(xl){ 
                                width: 275px;
                            }
                            &::placeholder{
                                color: $site-clr-3;
                                font-size: 18px;
                            }
                            &:focus{
                                box-shadow: none;
                                border-color: $site-clr-6;
                            }

                        }
                    }
                    img{
                        position: absolute;
                        right: 10px;
                    }
                }
            }
        }
        &-right{
            flex: 0 0 auto;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include BootstrapMaxWidthResponsive(xs){ 
                width: auto;
            }
            .userinfo,.lang{
                button{
                    background-color: inherit;
                    border: none;
                    color: $site-clr-6;
                    font-weight: bold;
                    &:focus{
                        box-shadow: none;
                        border-color: $site-clr-6;
                    }
                }
            }
            .userinfo{
                display: flex;
                align-items: center;
                button{
                    display: flex;
                   p{
                        max-width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include BootstrapMaxWidthResponsive(xs){ 
                            display: none;
                        }
                    }
                }
            }
            .lang{
                border: 1px solid $site-clr-6;
                border-radius: 10px;
                button{
                    padding: 6px 6px 0px 6px;
                }
            }
        }
        a{
            color: $site-clr-6  !important;
            font-weight: bold;
        }
    }
}